doctype html
html
    head
        title Track Top K Tweets
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        block scripts